[submodule "newlib-cygwin"]
	path = newlib-cygwin
	url = https://sourceware.org/git/newlib-cygwin.git
[submodule "printf"]
	path = printf
	url = https://github.com/mpaland/printf.git
[submodule "xz-embedded"]
	path = xz-embedded
	url = https://github.com/tukaani-project/xz-embedded.git
